__pycache__/
*.pyc
.venv/
venv/
.env

data/stream/
data/anomalies/
data/raw/trades_*.json
data/cleaned/cleaned_trades_*.csv
dashboard/data/dashboard_data.json
output/*.csv

*.log
logs/
.spark-ivy/
spark-test-perms/
.DS_Store
*.pdf
*.pptx
